@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap");

:root {
  --primary-clr: #009fc2;
  --accent-clr: #212121;
  --neutral-clr: #ffffff;

  --ff-global: "PT Serif", serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--ff-global);
  color: var(--accent-clr);
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-around;
}

.nav__list {
}

.nav__item {
  list-style-type: none;
}

.nav__link {
  text-decoration: none;
  color: var(--accent-clr);
}
