@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");

:root {
  --primary-clr: #c77976;
  --primary-clr-dark: #181818;
  --accent-clr: #fff5cf;
  --accent-clr-dark: #386775;
  --neutral-clr: #fffdfe;

  --ff-global: "PT Serif", serif;
  --ff-title: "Merriweather", serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--ff-global);
  color: var(--neutral-clr);
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--neutral-clr);
}

img {
  max-width: 100%;
}

/* Navigation  */
.navBar {
  background-color: var(--primary-clr);
  font-family: var(--ff-title);
  font-size: 1em;
  font-weight: 700;
  padding: 0.2em 0;
  box-shadow: 30px 15px 5px darkgrey;
  z-index: 2;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.nav__menu {
  position: fixed;
  left: -100%;
  top: 70px;
  gap: 0;
  flex-direction: column;
  background-color: var(--primary-clr);
  width: 100%;
  text-align: center;
  transition: 0.3s;
  z-index: 2;
}

.nav__menu.active {
  left: 0;
}

.nav__item {
  margin: 16px 0;
}

/* Hamburger Menu */
.hamburger {
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--neutral-clr);
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
/* Hero */
/* .hero {
  background-color: var(--accent-clr);
  box-shadow: 5px 5px 5px darkgrey;
  height: 15rem;
} */

.hero.hero__img {
  opacity: 0.8;
  max-width: 100%;
}

.hero__btn--group {
  margin-top: 2%;
  margin-left: 35%;
}

.hero__btn {
  font-size: 1em;
  font-weight: bold;
  background-color: var(--primary-clr);
  color: var(--neutral-clr);
  padding: 0.5em;
  border-radius: 10px;
  border-color: var(--accent-clr);
  box-shadow: none;
}

.hero__btn + .hero__btn {
  margin-left: 30px;
}

/* About */
.about {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  color: var(--primary-clr-dark);
}

.about__img {
  max-width: 100%;
}

.social-service {
  color: var(--neutral-clr);
  background-color: var(--accent-clr-dark);
  text-align: center;
}

.service {
  margin-bottom: 0;
  padding-top: 1em;
}

.service-text {
  margin: 0 3rem 0 3rem;
  padding-bottom: 1em;
}

/* Activity */
.activity {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  color: var(--primary-clr-dark);
}

.activity__img {
  position: relative;
  opacity: 0.5;
  z-index: 1;
}

.activity__content {
  margin-top: -120%;
  padding: 2rem;
  color: var(--primary-clr-dark);
  z-index: 2;
}

.activity__btn--group {
  margin-top: 2%;
  margin-left: 35%;
  z-index: 2;
}

.activity__btn {
  font-size: 1em;
  background-color: var(--primary-clr);
  color: var(--neutral-clr);
  padding: 0.5em;
  border-radius: 10px;
  border-color: var(--accent-clr);
  box-shadow: none;
}

@media (min-width: 650px) {
  /* Navigation */
  .navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
  }

  .nav__menu {
    display: contents;
    justify-content: space-between;
    align-items: center;
  }

  .nav__link {
    transition: 0.7s ease;
  }

  .nav__link + .nav__link {
    margin-left: 65px;
  }

  .nav__link:hover {
    color: var(--accent-clr-dark);
  }

  .hamburger {
    display: none;
  }

  .hero__btn {
    font-size: 1.2em;

    padding: 0.8em;
  }
}

@media (min-width: 800px) {
  /* Navigation */
  .navBar {
    font-size: 1rem;
  }
  .hero__btn {
    font-size: 1.2em;
    padding: 0.9em;
  }
  /* About */
  .img-content-block {
    display: flex;
    align-items: center;
  }

  .about__item + .about__item {
    margin-left: 2rem;
  }
  .about__img {
    max-width: 50%;
  }
  .social-service-block {
    display: flex;
    margin-top: 1rem;
  }

  .social-service {
    flex: 1;
    font-size: 1.1rem;
  }
  .social-service + .social-service {
    margin-left: 2rem;
  }

  .service {
    margin: 0 2rem 0 2rem;
  }
}

@media (min-width: 1000px) {
  .navBar {
    font-size: 1.2rem;
  }
  .hero__btn {
    font-size: 1.3em;
    padding: 1em;
  }

  /* About */
  .about {
    display: flex;
    flex-direction: row;
  }
  .img-content-block {
    display: flex;
    flex-direction: column;
  }

  .social-service-block {
    display: flex;
    flex-direction: column;
    /* margin-top: 1rem; */
  }

  .social-service {
    font-size: 1rem;
  }

  .social-service + .social-service {
    margin-top: 2rem;
  }
}
